# Core services
POSTGRES_USER=okkey
POSTGRES_PASSWORD=okkey
POSTGRES_DB=okkey
POSTGRES_PORT=5432

REDIS_PORT=6379

# MinIO
MINIO_ROOT_USER=okkey
MINIO_ROOT_PASSWORD=okkey-minio
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
